<!-- This button triggers the overlay and is it's origin -->
<button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (clickAway)="isOpen=false" #parent>
  {{isOpen ? "Close" : "Open"}}
</button>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <ul class="example-list" (mousedown)="test($event)">
    <li><input type="checkbox"> Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</ng-template>



{{map.get(['ptbf',false,false,false])}}

{{map.get(['ptbf',false,true,false])}}


<div (click)="alert(1)">One</div>


<div class="not-clickable" (click)="alert(2)">One</div>


<button (click)="showInvoice()">Go to Invoice</button>

<button (click)="encrypt()">Show encrypted</button>

<!-- {{captchaService.mouseMoves | json}} -->



<app-form-array-test></app-form-array-test>